language: python
python: "3.6"

install:
  - pip install flit future-fstrings
  - flit install --symlink --extras test

script: pytest

deploy:
  provider: script
  script: flit publish
  on:
    tags: true
    python: "3.6"
